<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['home']">Products Demo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li [routerLink]="['home']" [routerLinkActive]="['active']">
          <a><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
        </li>
        <li [routerLink]="['products']" [routerLinkActive]="['active']">
          <a><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Products</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
